{% extends 'templates/base.html' %}

{% block content %}
<title>{% block title %}/checkout{% endblock title %}</title>

{% include 'templates/snippet/navbar.html' %}

<main class="mt-5 pt-4">
  <div class="container">
    <h2 class="my-5 text-center">Checkout form</h2>

    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card p-4">
          <form method="post">
            {% csrf_token %}
            <!-- hidable shipping form -->
            <div id="hideableShippingForm">
              <div class="row mb-3">
                <div class="col-md-6 mb-2">
                  <div class="form-outline">
                    <input type="text" id="typeText" name="first_name" class="form-control" required />
                    <label class="form-label" for="typeText">First name</label>
                  </div>
                </div>

                <div class="col-md-6 mb-2">
                  <div class="form-outline">
                    <input type="text" id="typeText" name="last_name" class="form-control" required />
                    <label class="form-label" for="typeText">Last name</label>
                  </div>
                </div>
              </div>

              <p class="mb-0">
                Email
              </p>
              <div class="form-outline mb-4">
                <input type="email" name="email" class="form-control" placeholder="youremail@example.com"
                  aria-label="youremail@example.com" aria-describedby="basic-addon1" required />
              </div>

              <p class="mb-0">
                Address
              </p>
              <div class="form-outline mb-4">
                <input type="text" name="shipping_address_1" class="form-control" placeholder="1234 Main St"
                  aria-label="1234 Main St" aria-describedby="basic-addon1" required />
              </div>

              <p class="mb-0">
                Nearest Bustop
              </p>
              <div class="form-outline mb-4">
                <input type="type" name="nearest_bustop" class="form-control" placeholder="Apartment or suite"
                  aria-label="Apartment or suite" aria-describedby="basic-addon1" required />
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <p class="mb-0">
                    Country
                  </p>
                  {{ form.shipping_country }}
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                  <p class="mb-0">
                    State
                  </p>
                  <div class="form-outline mb-4">
                    <input type="text" name="shipping_state" class="form-control" placeholder="California"
                      aria-label="California" aria-describedby="basic-addon1" required />
                  </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                  <p class="mb-0">
                    Zip
                  </p>
                  <div class="form-outline">
                    <input type="text" name="zip_code" class="form-control" required />
                  </div>
                </div>
              </div>
            </div>
            <!-- hidable shipping form -->
            <hr />

            {% if default_shipping_address %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="use_default_shipping_address"
                value="{% if form.use_default_shipping_address %} checked {% endif %}" id="useDefaultShipping" />
              <label class="form-check-label" for="useDefaultShipping">Use default shipping address:
                <small>
                  {{ default_shipping_address.shipping_address_1|truncatechars:10 }}
                </small>
              </label>
            </div>
            {% endif %}

            {% if not default_shipping_address %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="set_default_shipping_address"
                value="{% if form.set_default_shipping_address %} checked {% endif %}" id="saveThisInfo" />
              <label class="form-check-label" for="saveThisInfo">Save this information for next time</label>
            </div>
            {% endif %}

            <hr />

            {% for value, name in form.fields.payment_option.choices %}
            <div class="my-3">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="payment_option" id="{{ name }}" value="{{ value }}"
                  required />
                <label class="form-check-label" for="{{ name }}"> {{ name }} </label>
              </div>
              {% endfor %}

              <hr class="mb-4" />
              <button class="btn btn-warning" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'templates/snippet/checkout_summary.html' %}
</main>


{% include 'templates/snippet/footer.html' %}
{% endblock content %}

{% block extra_script %}
<script>
  $(document).ready(function () {
    const useDefaultShipping = $("#useDefaultShipping")

    useDefaultShipping.on('change', function () {
      if (this.checked) {
        $('#hideableShippingForm').hide(500)
      } else {
        $("#hideableShippingForm").show(500)
      }
    })
  })
</script>
{% endblock extra_script %}