{% extends 'templates/base.html' %}

{% block content %}
<title>{% block title %}/About{% endblock title %}</title>

{% include "templates/snippet/navbar.html" %}


<main style="margin-top: 100px; display:flex; justify-content:center;">
  <div class="card" style="width: 90%;text-align:center;">
    <div class="card-body">
      <h5 class="card-title">Company Overview</h5>
      <h6 class="card-subtitle mb-2 text-muted">Snails</h6>
      <p class="card-text">An undying promise to keep making snail meat and components available always. We have been
        doing this since 2018 and we just get started. From the farms in Lagos state Nigeria, we have seen the passion
        of our founders Engr. Theocracy toofan and Mrs Esther Theocracy become a sensation, and right now we can only
        dream on.

        S&T Snail production is one of the leading animal farms in the agricultural industry in Nigeria and Africa. S&T
        Snail production was incorporated in 2020 as a private company and strive to operate with integrity and trust to
        create value for our customers and staff.

        S&T Snail production is not just a recognized name in the agricultural industry in Nigeria and Africa but also a
        pioneer in introducing green house farming, snail slime extraction equipments international approved in the
        slime international market and also the third producer of snail slime extractor machine, snail slime
        microfiltration machine and snail liquid slime converter to powder slime in the world.

        We offer a wide variety of quality services and affordable products in a relaxed ambience. Our peppered snail
        meal, oven dried snail, wash fresh snails and cosmetics products made from snail secretion filtrate and Aloe
        Vera which includes fountain of youth face and body moisturizer, knuckles removal, malasma cream, anti-aging
        cream/soap, FULICA1 slime extractor machine single drum, fulica2 slime extractor machine double drum, S&T Snail
        college of archatinidea and S&T Aloe Vera garden etc.

        We are your one-stop shop for anything snail farming and natural ingredients in cosmetics and have a number of
        subsidiaries company including S&T Snail filtrate, S&T Aloe Vera garden.</p>
      <br>
      <hr>
      <br>
      <h6 class="card-subtitle mb-2 text-muted">Cosmetics</h6>
      <p class="card-text">If you suffer from an acne breakout, snail secretion filtrate and aloe vera are one of the
        best treatments you can think of. WHY?

        Snail secretion filtrate contains natural antimicrobial properties, which helps fight bacteria that causes acne.

        Glycolic acid found in snail secretion filtrate helps prevent breakouts by exfoliating the skin and removing
        dead skin and unclogging pores.

        Aloe vera contains about 75 potentially active constituents which includes: vitamins, enzymes, minerals, sugars,
        lignin, saponins, salicylic acids, amino acids, vitamins C and E, vitamin B12, folic acid, and choline. And many
        more

        The antibacterial properties in aloe vera can help control and reduce acne-causing bacteria.

        Aloe vera and snail secretion filtrate has been use for hundreds of years as a natural remedies for a lot of
        skin issues.</p>
      <p class="card-text">This rejuvenating anti-aging serum is a secret weapon for treating skin issues like
        discoloration, dullness, fine lines, or acne — and a moisturizer as the key to hydrating your skin.

        Snail secretion filtrate is packed with numerous nutrients such as glycolic acid, hyaluronic acid, glycoprotein
        enzymes, antimicrobial and copper peptides, and proteoglycans to name a few.

        It is a multitasker, you can't go wrong with it. World best natural collagen

        This collagen-boosting serum is a serious multitasker that addresses multiple signs of aging with every
        application. Highly concentrated and rejuvenating, hyaluronic acid and allantoin found in Snail secretion
        filtrate helps fight wrinkles and leaves the skin plump and hydrated, while also receiving some serious longterm
        smoothing and softening

        The hyaluronic acid helps in the anti-aging process as it hydrates the skin, and antimicrobial peptides have
        been known to help reduce acne and treat hyperpigmentation

        Suitable for all skin types</p>
      <p class="card-text">The combination of snail secretion filtrate and aloe vera work well together to give you that
        glass skin finish due to intense hydration from both ingredients.

        The treatment imparts a radiant glow to the face

        It gives your face a smooth appearance and brightening effect

        snail secretion filtrate can help to reduce the appearance of dark spots, hyperpigmentation, malasma, scars, and
        even skin tone.</p>
    </div>
  </div>
</main>

{% include "templates/snippet/footer.html" %}

{% endblock content %}